* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    height: 450px;
}

/* Form chung */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
}

form {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* Login */
.sign-in {
    left: 0;
    z-index: 2;
}

/* Register */
.sign-up {
    left: 0;
    opacity: 0;
    z-index: 1;
}

/* Khi active */
.container.active .sign-in {
    transform: translateX(100%);
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Overlay */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #111;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.container.active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
